html, body { height: 100vh; width: 100vw; margin: 0; display: flex; box-sizing: border-box;}

.header-container {
	width: 100%;
}

.navbar-container {
	background: rgba(10, 10, 10, 0.5);
	display: flex;
	justify-content: space-between;
}

.icon-logo {
	margin-left: 12px;
}

.navigation {
	margin-right: 12px;
}

.position-navbar {
	position: fixed;
	width: 100%;
	z-index: 3;
}

ul {
  list-style-type: none;
}

#sign-up-form-container {
	background-image: url("../media/50-guy-movies-collage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.login-form-container {
	background-image: url("../media/avatar_2.png");
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 0% 50%; 
	height: 100%;
	width: 100%;
}

.background-blur-backdrop {
	background: rgba(255, 255, 255, 0.2);
  	backdrop-filter: blur(6px);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.background-blur-backdrop-login {
	backdrop-filter: blur(0px);
}

.form-container {
	background-color: #fcfcfc;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 600px;
	width: 450px;
}

.form-container p {
	font-size: 150%;
	margin-top: 60px;
}

.signup-p p {
	font-size: 100%;
	margin-top: 12px;
}

.form-container form {
	width: 90%;
}

.form-container button {
	width: 100%;
}

.navigation ul {
	margin-top: 12px;
	display: flex;
}

a:link {
	text-decoration: none;
}

.my-movies-link {
	margin: 3px 18px 0px 0px;
}

.my-movies-link a {
	color: #f0f0f0;
	font-size: 15px;
	
}

.my-movies-link a:hover {
	color: #1b28b5;
}

.clapperboard {
	margin-top: 50px;
	text-decoration: none;
	color: #0f0f0f;
}

.login-error {
	font-size: 60%;
	color: #d4300f;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-error p {
	margin-top: 0%;
}

/**
 * Form Validation Errors
 */
.error {
	border-color: red;
}

.error-message {
	color: red;
	font-style: italic;
	margin-bottom: 1em;
}



/*** Media Queries ****/
@media screen and (max-width: 550px) {
	.form-container p {
		color: #fcfcfc;
	}
	
	.form-container {
		background-color: rgba(252, 252, 252, 0);
	}
	
	.login-form-container {
	background-repeat: repeat;
}
}